/node_modules
/public/hot
/public/storage
/public/js/app.js
public/js/app.js
/public/css/app.css
public/css/app.css
/storage/*.key
/storage/*.csv
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
infos.txt
/docker/mysql-data
credentials.ini
public/images/teams/*
public/images/countries/*
public/images/leagues/*
/resources/js/translations/*.json
.DS_Store
/.DS_Store
/**/.DS_Store
/storage/get_external_odds.txt
